body{
    background-image: url('/assents/images/2a07851f4ee1d287a6780f57aaa3a225902fdc4d.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;  
    background-color: rgba(0, 255, 255, 0);
    height: 100px;
    padding: 50px 50px 50px;

    justify-content: space-between;
}

.item{
    height: 50px;
    color: white;
    font-family: open-sans;
    font-size: 60;
    background-color: rgba(255, 0, 0, 0);
}

.item-1{
    flex-grow: 0.9;
    font-size: 25px;
}

.container2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    color: rgb(0, 0, 0);
    height: 340px;
    width: 1200px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 40px;
}

.movie{
    margin: 5px;
    font-family: open-sans;
    color: white;
    border-radius: 7px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.movie-info{
    display: flex;
    flex-direction: column;

    height: 300px;
    width: 430px;

    position: absolute;
    gap: 25px;

    bottom: 0;
    left: 30.2%;
    transform: translate(-50%);
    margin-bottom: 450px;
    font-family: open-sans;

}


.movie-name{
    font-size: 45px;
    color: white;
    font-weight: 600;

}

.movie-desc{
    font-size: 16px;
    color: white;
}


#button{
    position: absolute;
    bottom: 0;
    left: 24.2%;
    transform: translate(-50%);
    margin-bottom: 480px;
    width: 200px;

    font-family: open-sans;
    font-size: large;
    color: black;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #FFA634;;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}


#wish-dragon{
    background-image: url('../assents/images/wish-dragon.jpg');
}

#loki{
    background-image: url('../assents/images/loki.jpg');
}

#shang-chi{
    background-image: url('../assents/images/shang-chi.jpg');
}

#spider-man{
    background-image: url('../assents/images/spider-man.jpg');
}

#the-witcher{
    background-image: url('../assents/images/the-witcher.jpg');
}

@font-face{
    font-family: open-sans;
    src: url('/assents/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}