<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
</head>
<body>
    <div class="container">
        <div class="item item-1">Kenai</div>
        <div class="item"><img src="../assents/images/button-search.png" alt="barra-de-pesquisa"></div>
        <div class="item item-3">Inicio</div>
        <div class="item">Minha Lista</div>
        <div class="item"><img src="../assents/images/notification.png" alt="notificacao"></div>
        <div class="item"><img src="../assents/images/button-user.png" alt="usuario"></div>
    </div>

    <div class="movie-specs">
        <div>
            <button class="stars2"></button>
            <button class="stars2"></button>
            <button class="stars2"></button>
            <button class="stars2"></button>
            <button class="stars2"></button>
        </div>
        <div class="duration"><img src="../assents/images/Clock.png" alt="relogio" id="clock"> 1h 57m</div>
    </div>

    <div class="theme" id="tema-principal">Ação/Aventura</div>

    <div class="movie-info">    
        <div class="movie-name">Batman</div>
        <div class="movie-desc">Gotham City enfrenta uma nova ameaça, e Bruce Wayne  
            assume o papel do Cavaleiro das Trevas para deter uma organização criminosa. Em meio a seus próprios 
            demônios internos, Wayne luta para salvar a cidade da iminente escuridão eterna.</div>    
    </div>

    <div><button id="button"><b>Assistir agora</b></button></div>

    <div class="container2">
        <div class="movie" id="shang-chi">
            <div class="movie-sec-specs">
                
                <div class="theme">Ação/Suspense</div>
                <div class="rating">
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                </div>
                <div class="name-movie-sec">Shang-Chi</div>
            </div>
        </div>

        <div class="movie" id="wish-dragon">
            <div class="movie-sec-specs">
                <div class="theme">Ação/Suspense</div>
                <div class="rating">
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                </div>
                <div class="name-movie-sec">Wish Dragon</div>
            </div>
        </div>

        <div class="movie" id="loki">
            <div class="movie-sec-specs">
                <div class="theme">Ação/Suspense</div>
                <div class="rating">
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                </div>
                <div class="name-movie-sec">Loki</div>
            </div>
        </div>

        <div class="movie" id="spider-man">
            <div class="movie-sec-specs">
                <div class="theme">Ação/Suspense</div>
                <div class="rating">
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                </div>
                <div class="name-movie-sec">Spider-man</div>
            </div>
        </div>

        <div class="movie" id="the-witcher">
            <div class="movie-sec-specs">
                <div class="theme">Ação/Suspense</div>
                <div class="rating">
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                    <button class="stars"></button>
                </div>
                <div class="name-movie-sec">The Witcher</div>
            </div>
        </div>
        <div class="shadow1"></div>
    </div>
    <div class="shadow2"></div>
    <div class="shadow3"></div>
</body>
<script src="../js/base.js"></script>
</html>